/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/nbproject/
/.idea/
/app/config/neo.yml
quotes.iml
*.php~
/web/uploads/*
!/web/uploads/.gitkeep
/private/uploads/*
!/private/uploads/.gitkeep