<h2 style="color:#c5cc31;">Código de verificación</h2>
<p>Ha solicitado el cambio de su contraseña de acesos</p>
<p><strong>Codigo de verificación:</strong> {{codigo}}</p>

<small>Email enviado desde la plataforma de gestión de inventarios<small>
